/********** common **********/
.hidden {
  opacity: 0;
  user-select: none;
}
nav {
  margin-bottom: 30px;
}

/********** login **********/

/********** dashboard **********/
.table tr th, .table tr td {
  vertical-align: middle;
  border: none;
}
.table thead, .table tbody {
  border-bottom: 1px solid #dee2e6;
}
