/*********************************/
//          Common
/*********************************/
*:focus,
*:active {
  outline: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none!important;
  box-shadow:none!important;
}

nav {
  margin-bottom: 15px;
}

.common-table {
  margin-bottom: 0;
  .form-group {
    margin-bottom: 0;
  }
  select {
    margin: 0!important;
  }

  tr {
    button {
      svg {
        pointer-events: none;
      }
    }

    .secondary {
      display: none;
    }

    &.editing {
      .primary {
        display: none;
      }

      .secondary {
        display: inline;
      }
    }
  }

  th.order-by {
    span {
      display: none;
      pointer-events: none;
    }

    cursor: pointer;

    &:hover,
    &.active-ASC,
    &.active-DESC {
      background: rgba(0, 0, 0, 0.03);
    }

    &.active-ASC {
      .down {
        display: inline;
      }
    }

    &.active-DESC {
      .up {
        display: inline;
      }
    }
  }
  tbody {
    .action-btns {
      width: 120px;
    }
  }
}
.common-alert-modal {
  .alert {
    margin-bottom: 0;
  }
}

/*********************************/
//          xApps
/*********************************/
.x-apps {
  background: rgba(0, 0, 0, 0.05);
}

/*********************************/
//          xQuote
/*********************************/
.x-quote {
  overflow: hidden;

  .main-navigation {
    margin: 0;
  }

  .todays-quote {
    background: orange;
    padding: 50px;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    h1 {
      margin-top: -30px;
      font-size: 40px;
    }

    .content {
      max-width: 50%;

      blockquote {
        margin: 50px 0 0;
        font-size: 26px;
      }
    }
  }
}

.x-quote-admin {
  .main-navigation {
    margin: 0;
  }
  .todays-quote {
    background: orange;
    text-align: center;
    padding: 20px;
    border-radius: 0;
    color: white;
    margin: 0 -15px;

    h1 {
      font-size: 20px;
    }

    blockquote {
      margin: 20px 0 0;
      font-size: 18px;
    }
  }

  .admin-panel {
    button {
      cursor: pointer;
    }

    .list-group-item.active {
      font-size: 30px;
    }
  }
}
.x-library {
  background: rgba(0, 0, 0, .2);
  &>.container-fluid {
    padding: 0;
    overflow: hidden;
  }
  .common-table {
    font-size: 12px;
    [data-order-by="issue_date"],
    [data-order-by="due_date"],
    [data-order-by="return_date"] {
      width: 130px;
    }
    [data-order-by="category_name"] {
      min-width: 130px;
    }
    input[type="date"] {
      font-size: 12px;
    }
    tbody {
      input[type="date"], select {
        padding-left: 5px;
        padding-right: 0;
      }
      input[type="date"] {
        width: 125px;
      }
      .action-btns {
        width: 95px;
        button {
          padding: 5px 9px;
          font-size: 12px;
        }
      }
      .dropdown-menu {
        min-width: auto;
        padding: 0;
        left: auto!important;
        right: 27px;
        top: -3px!important;
        transform: none!important;
      }
    }
  }
}