.jumbotron.blog-main {
	color: white;
	background: lightblue url("../images/blog.jpg") no-repeat center; 
	background-size: cover;
	margin: 0;
}

.blog-nav {
	margin: 10px;
}

.post {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.post:last-child {
	border: none;
}
.post-of-the-day { 
	margin: 40px 0;
}
.post-of-the-day .outer {
	border: 1px solid grey;
	padding: 10px 10px 0;
}
.post-of-the-day .outer .categories a {
	margin-bottom: 10px;
}

footer p {
	background: #343a40;
	padding: 20px 0;
	text-align: center;
	color: white;
	margin: 20px 0 0;
}

.left-sidebar a {
	font-size: 14px;
}
.sidebar-videos {
	border-bottom: 1px solid grey;
	margin-bottom: 20px;
}